@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
}

body {
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background: #f4f4f9; /* Fundo suave e neutro */
   color: #333; /* Texto escuro para melhor leitura */
   padding: 0 20px;
}

h2 {
   font-size: 2rem;
   font-weight: 600;
   text-align: center;
   margin-bottom: 20px;
   color: #2c3e50; /* Cor mais suave para o título */
}

main {
   background-color: #ffffff; /* Fundo branco para contraste */
   padding: 30px;
   border-radius: 15px;
   width: 100%;
   max-width: 550px; /* Limita o tamanho da largura */
   min-height: 400px; /* Altura consistente */
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.title {
   font-size: 1.75rem;
   text-align: center;
   color: #2c3e50;
   margin-bottom: 15px;
}

.content {
   display: flex;
   flex-direction: column;
   gap: 30px;
}

.spnQtd {
   font-size: 1rem;
   text-align: end;
   color: #7f8c8d; /* Cor suave para a contagem de perguntas */
}

.question {
   font-size: 1.4rem;
   font-weight: 500;
   text-align: center;
   color: #34495e; /* Cor suave para as perguntas */
}

.answers {
   display: flex;
   flex-direction: column;
   gap: 12px;
}

button {
   width: 100%;
   padding: 12px;
   font-size: 1.1rem;
   border: none;
   border-radius: 8px;
   cursor: pointer;
   background-color: #3498db; /* Azul mais calmo e agradável */
   color: white;
   transition: background-color 0.3s, transform 0.2s;
   text-align: center;
}

button:hover {
   background-color: #2980b9; /* Cor mais escura no hover */
   transform: translateY(-3px);
}

button:active {
   transform: translateY(1px);
}

.finish {
   display: none;
   flex-direction: column;
   align-items: center;
   gap: 20px;
   text-align: center;
}

.finish span {
   font-size: 1.5rem;
   color: #34495e; /* Cor suave para o texto final */
}

.finish button {
   padding: 12px 30px;
   font-size: 1.2rem;
   background-color: #3498db;
   color: white;
   border: none;
   border-radius: 8px;
   cursor: pointer;
   transition: background-color 0.3s;
}

.finish button:hover {
   background-color: #2980b9;
}

@media screen and (max-width: 600px) {
   h2 {
      font-size: 1.5rem;
   }

   main {
      width: 100%;
      padding: 25px;
   }

   .title {
      font-size: 1.4rem;
   }

   .question {
      font-size: 1.3rem;
   }

   .answers button {
      font-size: 1rem;
   }

   .finish span {
      font-size: 1.3rem;
   }
}
